frontend http-in
     bind *:80
     
     # 1. Definir o que é tráfego de Backend (API ou Admin do Django)
     acl is_backend path_beg /api
     acl is_backend path_beg /admin
     acl is_backend path_beg /static   # Necessário para CSS/JS do Django Admin

     # 2. Encaminhar para o backend correto com base na regra
     use_backend django_backend if is_backend
     
     # 3. Por padrão, tudo o resto vai para o Frontend
     default_backend frontend_backend

# --- BACKEND DJANGO ---
backend django_backend
     balance roundrobin
     option httpchk GET /api/docs/
     # Adiciona cabeçalhos para o Django saber que está atrás de um proxy
     http-request set-header X-Forwarded-Port %[dst_port]
     http-request add-header X-Forwarded-Proto https if { ssl_fc }
     server app-backend 10.10.10.20:8000 check

# --- BACKEND FRONTEND ---
backend frontend_backend
     balance roundrobin
     # O teu container 'tuxy_nginx' está na porta 80 da VM
     server app-frontend 10.10.10.20:80 check